<h1>Home</h1>
<div>
  <%= link_to "Businesses", businesses_path, class: "btn" %>
  <p>
    This app lets users create a store and display on their own website through an iframe. Use the Businesses button to see an index of your businesses and use the links to create a new business, add items and check out the store, add items to cart and checkout. For an example store below visit link:
    <%= link_to "Example", "http://calm-coast-7266.herokuapp.com/example", class: "btn btn-mini" %>
  </p>
</div>
