<div class="section">
    <h2 class="section-title">Blends</h2>
    <div class="items">
        <% @items.each do |item| %>
            <div class="item">
                <div class="image">
                    <img class="item-image" style="-webkit-user-select: none" src="http://placehold.it/160">
                </div>    
                <h3 class="item-name">
                    <%= link_to item.name, preview_item_path(item) %>
                </h3>
                <span class="item-price">$<%= item.price %></span>
            </div>
        <% end %>
    </div>
</div>
<%= stylesheet_link_tag '/assets/store.css' %>
<%= link_to "Go to Cart", cart_path(@cart_id) %>
