.order-type-radio label {
  display: inline-block;
  font-size: 16px;
  margin-left: 90px;
}

.cart-div {
  background-color: #eee;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FCFCFC), to(#EEE));
  background: -moz-gradient(linear, 0% 0%, 0% 100%, from(#FcFcFc), to(#EEE));
  background: -o-gradient(linear, 0% 0%, 0% 100%, from(#FcFcFc), to(#EEE));
  border: 0;
  border-radius: 10px;
  padding: 10px;
  -moz-box-shadow:    0 1px 3px #BBB;
  -webkit-box-shadow: 0 1px 3px #BBB;
  box-shadow:         0 1px 3px #BBB;
}

.cart-div h4 {
  float: right;
}

.cart-div table {
  margin-bottom: 0px;
  background-color: white;
  border-radius: 10px !important;
  box-shadow: inset 0 1px 1px #BBB;
  -moz-box-shadow: inset 0 1px 1px #BBB;
  -webkit-box-shadow: inset 0 1px 1px #BBB;
  -o-box-shadow: inset 0 1px 1px #BBB;
  -ms-box-shadow: inset 0 1px 1px #BBB;
}

.cart-div tr.total-row {
  border-radius: 10px;
}

.cart-div .total-row td:first-child {
  border-bottom-left-radius: 10px;
}
.cart-div .total-row td:last-child {
  border-bottom-right-radius: 10px;
}
