h3.item-name {
  font-size: 18px;
}

p.item-description {
  height: 80px;
}

.btn-my-cart small {
  font-size: 11px;
  color: #666;
}

.small-thumbnails li.item {
  position: relative;
}
.small-thumbnails span.item-price {
  position: absolute;
  top: 0px;
  right: 0px;
  color:#000;
  font-weight: bold;
  font-size: 16px;
  padding: 8px;
  color: #000
}
.small-thumbnails p.item-name-and-description {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 8px;
  margin: 0px;
  color: #000;
}

.small-thumbnails span.item-name {
  font-weight: bold;
  font-size: 16px;
}

.small-thumbnails div.item-foggy-bg {
  background: #FFF;
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  height: 100%;
  width: 100%;
  position:absolute;
  top:0;
  left:0;
}
/**********************
.section-title {
    margin-bottom: 35px;
}

.item {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom:0;
    border-top: 1px solid rgb(238,238,238);
    height: 200px;
}

.image {
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
    width: 160px;
    height: 160px;
}

.item-name {
    margin: -10px 0px 6px;
}

.item-price {
    float: right;
    margin-top: -30px;
}

.item-content {
    float: left;
    padding: 0px 10px 0px 0px;
    margin: 0px;
    width: 70%;
}
