th.price-th {
  text-align: right !important;
}

.thumbnails, .thumbnails li {
  margin-bottom: 0 !important;
}

.thumbnails small {
  color: #777;
}

.item-thumbnail {
  max-height: 100%;
  max-width: 100%;
}

.form-cell form {
  margin-bottom: 0px !important;
  margin-top: 8px !important;
}

.item-quantity {
  margin: 0 !important;
  width: 40px !important;
}

.update-item-quantity {
  margin-top: 5px !important;
  margin-bottom: 0px !important;
  background: none !important;
  border: none !important;
  cursor: pointer !important;
  color: #0088cc !important;
  text-decoration: none !important;
}

.update-item-quantity:hover {
  color: #005580 !important;
  text-decoration: underline !important;
}

.item-price {
  margin-top: 13px;
  float: right;
}

.delete-ted {
  width: 28px !important;
}

.remove-from-cart {
  font-size: 18px;
  margin-top: 11px;
}

.total-row {
  font-weight: bold;
  background-color: #FEFFE2;
}

.total_amount span {
  float: right;
}
